
{% extends 'core/base.html' %}

{% block title %}Thank you{% endblock %}

{% block content %}


    <div class="max-w-lg mx-auto flex flex-wrap p-6">
        <div class="w-full p-6 ">
            <h1 class="inline-block px-8 py-4 rounded-xl bg-green-700 text-center text-white hover:bg-green-500 m-6">Hi, {{email}}, <br>Thank you for subscribing to our newsletter</h1>
            <p class="w-full p-6 m-6 bg-blue-900 rounded-3xl text-white">We're excited to have you on board.&#128521;&#128521;&#128521;&#128521;</p>
        </div>
    </div>


{% endblock %}
